# Build
build
dist

# Dependency directories
node_modules/
*.local
package-lock.json

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Database
db/app.db
db/test.db

# Env
.env
.env.test