# Build
build
dist

# Dependency directories
node_modules/
*.local

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Database
db/app.db

# Env
.env